<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="default.css">
  </head>
  <body>
    <div id="messages">
        <div class="dis-block">
            <div class="mine">
              Hello world!Hello world!Hello world!Hello world!
            </div>
        </div>
        <div class="dis-block">
            <div class="other">
              Hello world!Hello world!Hello world!Hello world!
            </div>
        </div>
    </div>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <script>
      $(function () {
        let socket = io();
        $('form').submit(function(e) {
          let value = $('#m').val();
          e.preventDefault();
          socket.emit('chat message', value);
          $('#m').val('');
          $('#messages').append($('<div class="mine">').text(value));
          return false;
        });
        socket.on('chat message', function(msg) {
          $('#messages').append($('<div class="other">').text(msg));
              $('#messages').append($('<br>'));
        });
      });
    </script>
  </body>
</html>