<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="messages" class="container">
      <div class="row">
        <div class="mine pull-right">
          Hello world!Hello world!Hello world!Hello world!
        </div>
      </div>
      <div class="row">
        <div class="other">
          Hello world!Hello world!Hello world!Hello world!
        </div>
      </div>
    </div>
    <div id="bottom"></div>
    <div class="container footer">
      <div class="row ">
        <div class="">
          <form action="">
            <div class="col-xs-11">
              <input id="m" autocomplete="off" class="form-control"/>
            </div>
            <button href="#bottom" id="button" class="btn btn-default">Send</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      $(function() {
        let socket = io();
        $("form").submit(function(e) {
          let value = $("#m").val();
          e.preventDefault();
          socket.emit("chat message", value);
          $("#m").val("");
          
          $("#messages").append($('<div class="row">')
            .append('<div class="mine pull-right">' +  value + '</div>'));
          $("html, body").animate({ scrollTop: $(document).height() }, "slow");

          return false;
        });
        socket.on("chat message", function(msg) {
          $("#messages").append($('<div class="row">')
            .append('<div class="other">' +  msg + '</div>'));
          $("html, body").animate({ scrollTop: $(document).height() }, "slow");

        });
        // $("#button").click(function() {
        //   console.log('jdlkj');
        //   $("html, body").animate({ scrollTop: $(document).height() }, "slow");
        // });​
      });
    </script>
  </body>
</html>
