<mat-drawer-container class="example-container">
  <mat-drawer mode="over" [(opened)]="sidenav">
    <div class="">
      <div class="">
        <div class="">
          <h3>Your id:</h3>
          <button mat-button matTooltip="Copy id" (click)="copyClipboard()">
            {{ userId }}
            <i class="fa fa-clipboard" aria-hidden="true"></i>
          </button>
          <p>Connect to:</p>
          <textarea
            type="text"
            class="form-control"
            id="text"
            #text
          ></textarea>
          <button mat-button (click)="onConnect()">Connect</button>
          <p>Status: {{ status }}</p>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <div class="about">
            <p>Made by: <a href="https://www.instagram.com/nav._.sharma/">Navjot Sharma</a></p>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <a (click)="sidenav = true"
      ><i class="fa fa-bars fa-3x nav-icon" aria-hidden="true"></i
    ></a>
    <div class="greet">
      <h1>Welcome to Chat!</h1>
    </div>
    <div id="messages" class="container">
      <div *ngFor="let msg of msgs">
        <div class="row" *ngIf="msg.id === 0">
          <div class="mine pull-right">
            {{ msg.value }}
          </div>
        </div>
        <div class="row" *ngIf="msg.id === 1">
          <div class="other">
            {{ msg.value }}
          </div>
        </div>
      </div>
    </div>
    <div class="container footer">
      <div class="row">
        <form>
          <div class="col-xs-11">
            <input
              id="m"
              autocomplete="off"
              class="form-control"
              name="message"
              [(ngModel)]="formValue"
              ngModel
            />
          </div>
          <button
            mat-button
            href="#bottom"
            id="button"
            class="btn btn-default"
            (click)="onSubmit()"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
